.popup_opened {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  height: 100%;
  opacity: 1;
  -webkit-transition: height 0s 0s, opacity 0.5s 0s, -webkit-transform 0s 0s;
  transition: height 0s 0s, opacity 0.5s 0s, -webkit-transform 0s 0s;
  -o-transition: height 0s 0s, transform 0s 0s, opacity 0.5s 0s;
  transition: height 0s 0s, transform 0s 0s, opacity 0.5s 0s;
}
