.like-button {
  width: 22px;
  height: 19px;
  border: none;
  background: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.like-button:hover {
  opacity: 0.5;
}

